@import url("normalize.min.css");
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    height: 100%;
    background-color: rgb(121,79,23);
    min-width: 960px;
}
.flex{
	display: flex;
}
.column{
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: center;
}
.center-items{
	align-items: center;
}
.wrapp-container{
	background-color: #fff;
}
.main-wrapped-container{
	width: 960px;  /* Or whatever */
	height: auto; /* Or whatever */
	margin: auto;
}
.left-column{
	margin-right:10px;
}
.right-column{
	margin-left:10px;
}
.main-container{
	margin-top:10px;
	margin-bottom:10px;
}








/*header-container*/
.header-container{
	background-color: rgba(255, 161, 0, 1);
	color: #fff;
    padding: 10px 0;
}
.header-container .logo{
	height: 156px;
	width:170px;
}
.header-container .main-wrapped-container header{
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.header-container .main-wrapped-container header nav ul{
	margin:0;
}
.header-container .main-wrapped-container header nav ul li{
	list-style-type: none;
}
.header-container .main-wrapped-container header nav ul li a{
	color: #fff;
    font-variant: small-caps;
    font-weight: 600;
    text-decoration: blink;
	padding: 5px;
    transition: all .1s ease-in-out;
}
.header-container .main-wrapped-container header nav ul li a:hover,
.header-container .main-wrapped-container header nav ul li a:active,
.header-container .main-wrapped-container header nav ul li a.active{
	border-top: 2px #fff solid;
    border-right: 2px #fff solid;
    margin: 0px 0px -2px -2px;
}


/*FOOTER*/
.grass{
	background-image: url('../images/grass03.png');
    height: 103px;
}
.footer-container{
    background-color: rgb(121,79,23);
    color: #fff;
}
.footer-container .footer-info{
	flex-grow: 1;
	justify-content:space-between;
}
.footer-container .footer-info .info-container{
	width: 310px;
    justify-content: flex-start;	
}
.footer-container .footer-info .datos h4,.footer-container .footer-info .datos p{
	margin: 0px;
}



form div{
	flex-grow:1;
	padding-bottom: 5px;
}
form label{
	padding: 10px;
	flex-grow:1;
}
form input[type="text"],
form textarea{
	padding: 10px;
	border: 1px solid #cacaca;
	border-radius:10px;
    background-color: #fefefe;
    outline: 0;
	flex-grow:3;
}
form textarea{
	resize: none;
    height: 100px;
}
form button, form input[type="submit"]{
    border: none;
    background-color: rgba(255, 161, 0, 0.8);
    padding: 10px 20px;
    color: #fff;
    text-decoration: blink;
    font-weight: 600;
	
}
form button a{
    color: #fff;
    text-decoration: blink;
    font-weight: 600;
}
